In [2]:
import warnings
warnings.filterwarnings('ignore')

## Import the dataset

In [7]:
import sqlite3
import pandas as pd

In [4]:
import os

In [5]:
os.listdir()

['tutorial_ipynbs',
 '.gitignore.swp',
 '.gitignore',
 'database.sqlite',
 '.ipynb_checkpoints',
 'KNN_Amazon_fine_food_dataset.ipynb']

In [6]:
db_connection = sqlite3.connect('database.sqlite')

In [8]:
polarisable_dataset = pd.read_sql_query('select * from reviews where Score != 3', db_connection)

In [9]:
polarisable_dataset.columns

Index(['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score', 'Time', 'Summary', 'Text'],
      dtype='object')

In [17]:
polarisable_dataset.head(3)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...

In [18]:
df = polarisable_dataset # just to make typing easier

In [21]:
sampled_df = df.sample(n = 5000, axis = 0, random_state = 0) # random sampling of dataset

In [22]:
sampled_df.shape

(5000, 10)

## Replacing the ratings with 0 (for negative reviews) and 1 (for positive reviews).
#### Score of >3 has been considered as positive and a score of <3 has been taken as negative

In [41]:
type(sampled_df['Score'])

pandas.core.series.Series

In [37]:
scores = sampled_df['Score']

In [38]:
scores[6:12]

161937    5
451123    5
401436    5
396416    5
449554    1
379099    1
Name: Score, dtype: int64

In [39]:
scores = list(map(lambda x: 0 if x<3 else 1, scores))

In [40]:
scores[6:12]

[1, 1, 1, 1, 0, 0]

In [42]:
sampled_df['Score'] = scores

In [44]:
type(sampled_df['Score'].head(2))

pandas.core.series.Series

### Exploratory Data Analysis

##### 1. Deduplication
If a user id has multiple entries for the same timestamp, then it should be removed because it is likely that multiple entries at the same timestamp were for the same product of different variety which has a different product id than other variants